In [1]:
import datetime as dt
import pandas as pd
import psycopg2
import pytz
import re
import sys
import time
import warnings
from bs4 import BeautifulSoup
from io import StringIO
from psycopg2.extras import execute_values
from psycopg2.extensions import AsIs
from typing import List
from urllib.request import urlopen
import sys
sys.path.insert(0, '../..')
from db_utils import generate_unique_game_id, execute_sql_script
from scrape_all_games_data import get_daily_games_at_date, clean_df, insert_daily_games_at_date
from typing import Callable
from db_utils import load_config

c:\Users\brtnl\OneDrive\Desktop\code\sports_betting\src\cfb\data\scrape_all_games_data.py:46: SyntaxWarning: invalid escape sequence '\d'
  pattern = "^[A-Za-z]{3} \d{1,2}/\d{2}$"

In [2]:
insert_daily_games_at_date(dt.date(2024, 11, 16))

        INSERT INTO cfb.all_games_log(unique_id, date)
        VALUES %s
        ON CONFLICT (unique_id, date)
        DO UPDATE SET
            all_quarters_scrape = EXCLUDED.all_quarters_scrape

[('6e9b5ac413a80f934609303d3df0b3e1', Timestamp('2024-11-16 00:00:00')), ('35d2850a71a90854b8aa46170e16ccd7', Timestamp('2024-11-16 00:00:00')), ('b46374af36f9862abeddba65ffc123de', Timestamp('2024-11-16 00:00:00')), ('488de2e4d3e3cf53997a9c0d789779fe', Timestamp('2024-11-16 00:00:00')), ('338450f6ad57c73ed3e696a0db753fcc', Timestamp('2024-11-16 00:00:00')), ('67aa7a407ce0e2c342bb3175f3b8cb83', Timestamp('2024-11-16 00:00:00')), ('0ce0e3615a35ebffa770c19d17c5b87d', Timestamp('2024-11-16 00:00:00')), ('a43752a85dc8857b18ef084be2cbb507', Timestamp('2024-11-16 00:00:00')), ('2f44b77eb8b8f625e3fc3ec502e2c034', Timestamp('2024-11-16 00:00:00')), ('9b13fe068ddde952bb4092dcb7391a61', Timestamp('2024-11-16 00:00:00')), ('c1c03bafe9bc5957306eca2bd90d81ed', Timestamp('2024-11-16 00:00:00')), ('b1bdac7f4ed6c39c933fef9b4eafd15b', Timestamp('2024-11-16 00:00:00')), ('aea5f1ad86a70fbac3723785c0402eb9', Timestamp('2024-11-16 00:00:00')), ('324e9bbdf2591968246de262304fc298', Timestamp('2024-11-16 00:00:00')), ('bd6ad633400b1d61ceac5a8100550ce2', Timestamp('2024-11-16 00:00:00')), ('5a9d6c0a91b24234afd2246e1f881bb6', Timestamp('2024-11-16 00:00:00')), ('f3db0c04a17290082652016366967f48', Timestamp('2024-11-16 00:00:00')), ('fd7225f6a1d9f32a34d719d35296d7e3', Timestamp('2024-11-16 00:00:00')), ('60dad227e5a646dd353cf7adba3cabf6', Timestamp('2024-11-16 00:00:00')), ('5a9a0027d574ca93031e479b61bc0d38', Timestamp('2024-11-16 00:00:00')), ('f81ce4c8dadc0ba7b147c24e7af9deff', Timestamp('2024-11-16 00:00:00')), ('3a09bf1bf52a5f01466f7805a86fcd91', Timestamp('2024-11-16 00:00:00')), ('3f085bbcc6fab5f2fb179650d1514d02', Timestamp('2024-11-16 00:00:00')), ('c59440f33869fe990d9a7e89571f77ba', Timestamp('2024-11-16 00:00:00')), ('ab2bf52a241e1280a6e3619f9166c5bd', Timestamp('2024-11-16 00:00:00')), ('1d6acde5321ea9563552bf3375cb0691', Timestamp('2024-11-16 00:00:00')), ('4e5371b07eaba87d833b7d7ab9cb1989', Timestamp('2024-11-16 00:00:00')), ('dfdc996a651c1b11702736b3dabd45ce', Timestamp('2024-11-16 00:00:00')), ('fc257cb5ee33a74d2ccfa4fb09c22dcd', Timestamp('2024-11-16 00:00:00')), ('bab81b003924ff2c8d730597fb4bd5cc', Timestamp('2024-11-16 00:00:00')), ('fb0c1373be7d313927fa308d8e896e88', Timestamp('2024-11-16 00:00:00')), ('eaa086d9ac5e71aaad3af169478d592c', Timestamp('2024-11-16 00:00:00')), ('17e9704d14f81a7b7e0c47121916712c', Timestamp('2024-11-16 00:00:00')), ('00c2e13014f54f7d49edd72bfc666f47', Timestamp('2024-11-16 00:00:00')), ('2de8cbd939020a90a4b13b053a8418a3', Timestamp('2024-11-16 00:00:00')), ('843a65451db3d1812b15f4b5821102d1', Timestamp('2024-11-16 00:00:00')), ('67452c11bd763689b8450aab4b283fb3', Timestamp('2024-11-16 00:00:00')), ('18981141fba9ae2b49301d6cd8753078', Timestamp('2024-11-16 00:00:00')), ('2783091aca01bf610395b66ca00aadec', Timestamp('2024-11-16 00:00:00')), ('cfd68628d873c20bf632d291aecd0dac', Timestamp('2024-11-16 00:00:00')), ('caff12f089efc532cde56e8d5fb3ab1d', Timestamp('2024-11-16 00:00:00')), ('1e4451fd3f5f04d6fd5f77d0bf29f8bc', Timestamp('2024-11-16 00:00:00')), ('b40248c53705e80eb69cc7235f59b766', Timestamp('2024-11-16 00:00:00')), ('5fe5a1de6fdfc4ce5390df84ffebf019', Timestamp('2024-11-16 00:00:00'))]
Successfully logged 'get_daily_games_at_date' with params {'date': datetime.date(2024, 11, 16)} with log_cols None

In [3]:
get_daily_games_at_date(dt.date(2023, 1, 2))

,date,home,home_points,visitor,visitor_points,home_rank,visitor_rank,unique_id
0,2023-01-02,Mississippi State,19,Illinois,10,24,None,fb5fcadb1896e5bd2e4af009bb414907
0,2023-01-02,Penn State,35,Utah,21,9,7,3055bc1f011e34b3009e66b8cdd29512
0,2023-01-02,LSU,63,Purdue,7,16,None,82bb3230a5133a7431dc5e31af947601
0,2023-01-02,Tulane,46,USC,45,14,8,226cc9d3e0961d8f048a5eda4baa45e3

In [4]:
# TODO: what happens if we have overtimes (in future https://www.sports-reference.com/cfb/boxscores/2021-10-23-penn-state.html)
get_table_function = get_daily_games_at_date
params = {
    'date': dt.date(2023, 1, 2)
}
query = """
    INSERT INTO cfb.all_games(date, home, home_points, visitor, visitor_points, home_rank, visitor_rank, unique_id)
    VALUES %s
    ON CONFLICT DO NOTHING
"""

In [5]:
# # def insert_data(get_table_function: Callable, query: str, params: dict): 
# config = load_config()
# db_config = config["database"]
# try:
#     conn = psycopg2.connect(**db_config)
# except:
#     print("Failure to connect to database.")

# all_games_table = get_table_function(**params)
# if all_games_table is None:
#     conn.close()
#     pass

# # Split up each row value into tuples
# row_tuples = [tuple(row) for row in all_games_table.values]
# with conn.cursor() as cursor:
#     try:
#         psycopg2.extras.execute_values(cursor, query, row_tuples)
#         print(
#             "Successfully executed '%(name)s' with params %(params)s"
#             % {"name": get_table_function.__name__, "params": params}
#         )
#     except Exception as e:
#         print(e)
        
# conn.commit()
# conn.close()

In [6]:
get_daily_games_at_date(dt.datetime(2023, 1, 1))

In [7]:
url = "https://www.sports-reference.com/cfb/boxscores/index.cgi?month=1&day=2&year=2023"
html = urlopen(url)
soup = BeautifulSoup(html, features="html.parser")

In [8]:
# # soup.find_all("table", {"class": re.compile("teams")})
# tables = soup.find_all("table", {"class": re.compile("teams")})
# html_string = "\n".join(str(table) for table in tables)
# html_io = StringIO(html_string)


    # pattern = "^[A-Za-z]{3} \d{1,2}/\d{2}$"
    # match_string = df.iloc[0][0]
    # if re.fullmatch(pattern, match_string):
    #     match_string.to_strftime()

    # home_row = df.iloc[1]
    # home, home_rank = get_rank_from_row(home_row)
    # visitor_row = df.iloc[2]
    # visitor, visitor_rank = get_rank_from_row(visitor_row)

In [9]:
def is_valid_date(date_string):
    # Regex pattern for "Month Day, Year" with an optional day of the week
    pattern = r'^(?:\w{3,9},\s)?\w{3,9}\s\d{1,2},\s\d{4}$'
    return bool(re.match(pattern, date_string))

def get_rank_from_row(row):
    pattern2 = r"^(.*?)\s\((\d{1,2})\)$"
    university = row[0]
    match = re.fullmatch(pattern2, university)
    if match:
         return match.group(1), int(match.group(2))
    else:
         return university, None

cand_divs = soup.find_all(attrs={"class": re.compile("game_summaries")})
date, div = None, None
date_format = "%A, %B %d, %Y"


for cand_div in cand_divs:
    h2_text = cand_div.find('h2').text
    if is_valid_date(h2_text):
        date = dt.datetime.strptime(h2_text, date_format)
        html_io = StringIO(str(cand_div))
        all_games_table = pd.read_html(html_io)

# have the desired table, no "other games this week"

In [10]:
# html_string = "\n".join(str(table) for table in tables)
# html_io = StringIO(html_string)

# all_games_table = pd.read_html(html_io, header=0)[0]

In [11]:
# [div for div in tables if div.find_parent('div', {"class": re.compile("game_summaries")})]

In [12]:
cand_divs = soup.find_all(attrs={"class": re.compile("game_summaries")})
date_format = "%A, %B %d, %Y"

for cand_div in cand_divs:
    h2_text = cand_div.find('h2').text
    if is_valid_date(h2_text):
        date = dt.datetime.strptime(h2_text, date_format)
        html_io = StringIO(str(cand_div))
        all_games_table = pd.read_html(html_io)
        break


for cand_div in cand_divs:
    h2_text = cand_div.find('h2').text
    if is_valid_date(h2_text):
        date = dt.datetime.strptime(h2_text, date_format)
        html_io = StringIO(str(cand_div))
        all_games_table = pd.read_html(html_io)
        
def get_rank_from_row(row):
    pattern2 = r"^(.*?)\s\((\d{1,2})\)$"
    university = row[0]
    match = re.fullmatch(pattern2, university)
    if match:
         return match.group(1), int(match.group(2))
    else:
         return university, None
    

def clean_df(df: pd.DataFrame, date: dt.datetime): 
    pattern = "^[A-Za-z]{3} \d{1,2}/\d{2}$"
    match_string = df.iloc[0][0]
    if re.fullmatch(pattern, match_string):
        match_string.to_strftime()

    home_row = df.iloc[1]
    home, home_rank = get_rank_from_row(home_row)
    home_points = home_row[1]
    visitor_row = df.iloc[2]
    visitor, visitor_rank = get_rank_from_row(visitor_row)
    visitor_points = visitor_row[1]
    
    id_row = pd.Series({
        'Date': [date],
        'Home': [home],
        'Visitor': [visitor]
    })
    
    return pd.DataFrame({
        'date': [date],
        'home': [home],
        'home_points': [home_points],
        'visitor': [visitor],
        'visitor_points': [visitor_points],
        'home_rank': [home_rank],
        'visitor_rank': [visitor_rank],
        'unique_id': [generate_unique_game_id(id_row)]
    })

<>:31: SyntaxWarning: invalid escape sequence '\d'
<>:31: SyntaxWarning: invalid escape sequence '\d'
C:\Users\brtnl\AppData\Local\Temp\ipykernel_15856\1596917811.py:31: SyntaxWarning: invalid escape sequence '\d'
  pattern = "^[A-Za-z]{3} \d{1,2}/\d{2}$"

In [13]:
game_list = []
for game in all_games_table:
    game_list.append(clean_df(game, date))

In [14]:
pd.concat(game_list)

,date,home,home_points,visitor,visitor_points,home_rank,visitor_rank,unique_id
0,2023-01-02,Mississippi State,19,Illinois,10,24,None,fb5fcadb1896e5bd2e4af009bb414907
0,2023-01-02,Penn State,35,Utah,21,9,7,3055bc1f011e34b3009e66b8cdd29512
0,2023-01-02,LSU,63,Purdue,7,16,None,82bb3230a5133a7431dc5e31af947601
0,2023-01-02,Tulane,46,USC,45,14,8,226cc9d3e0961d8f048a5eda4baa45e3

In [15]:
temp = all_games_table[1]
# temp.drop_index(inplace=True)
clean_df(temp)

TypeError: clean_df() missing 1 required positional argument: 'date'

In [ ]:
all_games_table

[          0   1      2
 0  USC (23)  27  Final
 1  LSU (13)  20    NaN,
                     0        1        2
 0             Mon 9/2  Mon 9/2  Mon 9/2
 1      Boston College       28    Final
 2  Florida State (10)       13      NaN,
            0         1         2
 0   Sat 8/31  Sat 8/31  Sat 8/31
 1  Merrimack         6     Final
 2  Air Force        21       NaN,
                   0         1         2
 0          Sat 8/31  Sat 8/31  Sat 8/31
 1  Western Kentucky         0     Final
 2              None      None      None,
    index                     0         1         2
 0      0              Sat 8/31  Sat 8/31  Sat 8/31
 1      1  East Tennessee State        10     Final
 2      2     Appalachian State        38       NaN,
               0         1         2
 0      Sat 8/31  Sat 8/31  Sat 8/31
 1    New Mexico        39     Final
 2  Arizona (21)        61       NaN,
                0         1         2
 0       Sat 8/31  Sat 8/31  Sat 8/31
 1        Wyoming         7     Final
 2  Arizona State        48       NaN,
                   0         1         2
 0          Sat 8/31  Sat 8/31  Sat 8/31
 1  Central Arkansas        31     Final
 2    Arkansas State        34       NaN,
              0         1         2
 0     Sat 8/31  Sat 8/31  Sat 8/31
 1  Alabama A&M         3     Final
 2       Auburn        73       NaN,
                 0         1         2
 0        Sat 8/31  Sat 8/31  Sat 8/31
 1  Tarleton State         3     Final
 2          Baylor        45       NaN,
                    0         1         2
 0           Sat 8/31  Sat 8/31  Sat 8/31
 1  Southern Illinois        13     Final
 2      Brigham Young        41       NaN,
                   0         1         2
 0          Sat 8/31  Sat 8/31  Sat 8/31
 1  California-Davis        13     Final
 2        California        31       NaN,
                0         1         2
 0       Sat 8/31  Sat 8/31  Sat 8/31
 1  James Madison        30     Final
 2      Charlotte         7       NaN,
             0         1         2
 0    Sat 8/31  Sat 8/31  Sat 8/31
 1      Towson        20     Final
 2  Cincinnati        38       NaN,
               0         1         2
 0      Sat 8/31  Sat 8/31  Sat 8/31
 1  Clemson (14)         3     Final
 2   Georgia (1)        34       NaN,
                0         1         2
 0       Sat 8/31  Sat 8/31  Sat 8/31
 1  Norfolk State         3     Final
 2  East Carolina        42       NaN,
                  0         1         2
 0         Sat 8/31  Sat 8/31  Sat 8/31
 1  Miami (FL) (19)        41     Final
 2          Florida        17       NaN,
                   0         1         2
 0          Sat 8/31  Sat 8/31  Sat 8/31
 1       Boise State        56     Final
 2  Georgia Southern        45       NaN,
                0         1         2
 0       Sat 8/31  Sat 8/31  Sat 8/31
 1  Georgia State        12     Final
 2   Georgia Tech        35       NaN,
           0         1         2
 0  Sat 8/31  Sat 8/31  Sat 8/31
 1      UCLA        16     Final
 2    Hawaii        13       NaN,
           0         1         2
 0  Sat 8/31  Sat 8/31  Sat 8/31
 1      UNLV        27     Final
 2   Houston         7       NaN,
                        0         1         2
 0               Sat 8/31  Sat 8/31  Sat 8/31
 1  Florida International         7     Final
 2                Indiana        31       NaN,
                 0         1         2
 0        Sat 8/31  Sat 8/31  Sat 8/31
 1  Illinois State         0     Final
 2       Iowa (25)        40       NaN,
               0         1         2
 0      Sat 8/31  Sat 8/31  Sat 8/31
 1  North Dakota         3     Final
 2    Iowa State        21       NaN,
                    0         1         2
 0           Sat 8/31  Sat 8/31  Sat 8/31
 1   Tennessee-Martin         6     Final
 2  Kansas State (18)        41       NaN,
                       0         1         2
 0              Sat 8/31  Sat 8/31  Sat 8/31
 1  Southern Mississippi         0     Final
 2              Kentucky        31       NaN,
           0         1         2
 0  Sat 8/31  Sat 8/31  Sat 8/31
 1  Campbell        24     Final
 2   Liberty        41       NaN,
                  0         1         2
 0         Sat 8/31  Sat 8/31  Sat 8/31
 1  Grambling State        10     Final
 2        Louisiana        40       NaN,
                 0         1         2
 0        Sat 8/31  Sat 8/31  Sat 8/31
 1  Nicholls State        17     Final
 2  Louisiana Tech        25       NaN,
              0         1         2
 0     Sat 8/31  Sat 8/31  Sat 8/31
 1  Austin Peay         0     Final
 2   Louisville        62       NaN,
              0         1         2
 0     Sat 8/31  Sat 8/31  Sat 8/31
 1  Stony Brook         3     Final
 2     Marshall        45       NaN,
              0         1         2
 0     Sat 8/31  Sat 8/31  Sat 8/31
 1  Connecticut         7     Final
 2     Maryland        50       NaN,
                   0         1         2
 0          Sat 8/31  Sat 8/31  Sat 8/31
 1  Eastern Michigan        28     Final
 2     Massachusetts        14       NaN,
                0         1         2
 0       Sat 8/31  Sat 8/31  Sat 8/31
 1  North Alabama         0     Final
 2        Memphis        40       NaN,
               0         1         2
 0      Sat 8/31  Sat 8/31  Sat 8/31
 1  Fresno State        10     Final
 2  Michigan (9)        30       NaN,
                         0         1         2
 0                Sat 8/31  Sat 8/31  Sat 8/31
 1          Tennessee Tech        25     Final
 2  Middle Tennessee State        32       NaN,
               0         1         2
 0      Sat 8/31  Sat 8/31  Sat 8/31
 1        Furman         0     Final
 2  Ole Miss (6)        76       NaN,
                    0         1         2
 0           Sat 8/31  Sat 8/31  Sat 8/31
 1   Eastern Kentucky         7     Final
 2  Mississippi State        56       NaN,
           0         1         2
 0  Sat 8/31  Sat 8/31  Sat 8/31
 1  Bucknell        21     Final
 2      Navy        49       NaN,
           0         1         2
 0  Sat 8/31  Sat 8/31  Sat 8/31
 1      UTEP         7     Final
 2  Nebraska        40       NaN,
                           0         1         2
 0                  Sat 8/31  Sat 8/31  Sat 8/31
 1  Southeast Missouri State        16     Final
 2          New Mexico State        23       NaN,
                    0         1         2
 0           Sat 8/31  Sat 8/31  Sat 8/31
 1   Western Illinois        15     Final
 2  Northern Illinois        54       NaN,
               0         1         2
 0      Sat 8/31  Sat 8/31  Sat 8/31
 1    Miami (OH)         6     Final
 2  Northwestern        13       NaN,
                 0         1         2
 0        Sat 8/31  Sat 8/31  Sat 8/31
 1           Akron         6     Final
 2  Ohio State (2)        52       NaN,
                      0         1         2
 0             Sat 8/31  Sat 8/31  Sat 8/31
 1   South Dakota State        20     Final
 2  Oklahoma State (17)        44       NaN,
             0         1         2
 0    Sat 8/31  Sat 8/31  Sat 8/31
 1       Idaho        14     Final
 2  Oregon (3)        24       NaN,
               0         1         2
 0      Sat 8/31  Sat 8/31  Sat 8/31
 1   Idaho State        15     Final
 2  Oregon State        38       NaN,
             0         1         2
 0    Sat 8/31  Sat 8/31  Sat 8/31
 1  Kent State        24     Final
 2        Pitt        55       NaN,
                0         1         2
 0       Sat 8/31  Sat 8/31  Sat 8/31
 1  Indiana State         0     Final
 2         Purdue        49       NaN,
              0         1         2
 0     Sat 8/31  Sat 8/31  Sat 8/31
 1  Sam Houston        34     Final
 2         Rice        14       NaN,
                     0         1         2
 0            Sat 8/31  Sat 8/31  Sat 8/31
 1  Texas A&M-Commerce        14     Final
 2     San Diego State        45       NaN,
                0         1         2
 0       Sat 8/31  Sat 8/31  Sat 8/31
 1    North Texas        52     Final
 2  South Alabama        38       NaN,
                 0         1         2
 0        Sat 8/31  Sat 8/31  Sat 8/31
 1    Old Dominion        19     Final
 2  South Carolina        23       NaN,
                  0         1         2
 0         Sat 8/31  Sat 8/31  Sat 8/31
 1  Bethune-Cookman         3     Final
 2    South Florida        48       NaN,
                    0         1         2
 0           Sat 8/31  Sat 8/31  Sat 8/31
 1  Houston Christian         7     Final
 2                SMU        59       NaN,
           0         1         2
 0  Sat 8/31  Sat 8/31  Sat 8/31
 1      Ohio        22     Final
 2  Syracuse        38       NaN,
                 0         1         2
 0        Sat 8/31  Sat 8/31  Sat 8/31
 1     Chattanooga         3     Final
 2  Tennessee (15)        69       NaN,
                 0         1         2
 0        Sat 8/31  Sat 8/31  Sat 8/31
 1  Colorado State         0     Final
 2       Texas (4)        52       NaN,
                 0         1         2
 0        Sat 8/31  Sat 8/31  Sat 8/31
 1  Notre Dame (7)        23     Final
 2  Texas A&M (20)        13       NaN,
                 0         1         2
 0        Sat 8/31  Sat 8/31  Sat 8/31
 1  Kennesaw State        16     Final
 2            UTSA        28       NaN,
              0         1         2
 0     Sat 8/31  Sat 8/31  Sat 8/31
 1        Lamar        27     Final
 2  Texas State        34       NaN,
                    0         1         2
 0           Sat 8/31  Sat 8/31  Sat 8/31
 1  Abilene Christian        51     Final
 2         Texas Tech        52        OT,
           0         1         2
 0  Sat 8/31  Sat 8/31  Sat 8/31
 1    Nevada        28     Final
 2      Troy        26       NaN,
                0         1         2
 0       Sat 8/31  Sat 8/31  Sat 8/31
 1  Robert Morris        14     Final
 2     Utah State        36       NaN,
                0         1         2
 0       Sat 8/31  Sat 8/31  Sat 8/31
 1  Virginia Tech        27     Final
 2     Vanderbilt        34        OT,
           0         1         2
 0  Sat 8/31  Sat 8/31  Sat 8/31
 1  Richmond        13     Final
 2  Virginia        34       NaN,
              0         1         2
 0     Sat 8/31  Sat 8/31  Sat 8/31
 1  Weber State         3     Final
 2   Washington        35       NaN,
                   0         1         2
 0          Sat 8/31  Sat 8/31  Sat 8/31
 1    Portland State        30     Final
 2  Washington State        70       NaN,
                 0         1         2
 0        Sat 8/31  Sat 8/31  Sat 8/31
 1  Penn State (8)        34     Final
 2   West Virginia        12       NaN,
           0         1         2
 0  Fri 8/30  Fri 8/30  Fri 8/30
 1    Lehigh         7     Final
 2      Army        42       NaN,
           0         1         2
 0  Fri 8/30  Fri 8/30  Fri 8/30
 1      Elon         3     Final
 2      Duke        26       NaN,
                   0         1         2
 0          Fri 8/30  Fri 8/30  Fri 8/30
 1  Florida Atlantic        10     Final
 2    Michigan State        16       NaN,
                0         1         2
 0       Fri 8/30  Fri 8/30  Fri 8/30
 1         Temple         3     Final
 2  Oklahoma (16)        51       NaN,
           0         1         2
 0  Fri 8/30  Fri 8/30  Fri 8/30
 1       TCU        34     Final
 2  Stanford        27       NaN,
                   0         1         2
 0          Fri 8/30  Fri 8/30  Fri 8/30
 1  Western Michigan        14     Final
 2         Wisconsin        28       NaN,
               0         1         2
 0      Thu 8/29  Thu 8/29  Thu 8/29
 1  Alcorn State         3     Final
 2           UAB        41       NaN,
                      0         1         2
 0             Thu 8/29  Thu 8/29  Thu 8/29
 1  Arkansas-Pine Bluff         0     Final
 2             Arkansas        70       NaN,
                      0         1         2
 0             Thu 8/29  Thu 8/29  Thu 8/29
 1              Fordham        17     Final
 2  Bowling Green State        41       NaN,
            0         1         2
 0   Thu 8/29  Thu 8/29  Thu 8/29
 1  Lafayette        13     Final
 2    Buffalo        30       NaN,
                0         1         2
 0       Thu 8/29  Thu 8/29  Thu 8/29
 1  New Hampshire         3     Final
 2            UCF        57       NaN,
                            0         1         2
 0                   Thu 8/29  Thu 8/29  Thu 8/29
 1  Central Connecticut State        10     Final
 2           Central Michigan        66       NaN,
                     0         1         2
 0            Thu 8/29  Thu 8/29  Thu 8/29
 1  North Dakota State        26     Final
 2            Colorado        31       NaN,
                   0         1         2
 0          Thu 8/29  Thu 8/29  Thu 8/29
 1  Eastern Illinois         0     Final
 2          Illinois        45       NaN,
                     0         1         2
 0            Thu 8/29  Thu 8/29  Thu 8/29
 1    Coastal Carolina        55     Final
 2  Jacksonville State        27       NaN,
              0         1         2
 0     Thu 8/29  Thu 8/29  Thu 8/29
 1   Lindenwood         3     Final
 2  Kansas (22)        48       NaN,
                   0         1         2
 0          Thu 8/29  Thu 8/29  Thu 8/29
 1     Jackson State        14     Final
 2  Louisiana-Monroe        30       NaN,
                 0         1         2
 0        Thu 8/29  Thu 8/29  Thu 8/29
 1  North Carolina        19     Final
 2       Minnesota        17       NaN,
                0         1         2
 0       Thu 8/29  Thu 8/29  Thu 8/29
 1   Murray State         0     Final
 2  Missouri (11)        51       NaN,
                            0         1         2
 0                   Thu 8/29  Thu 8/29  Thu 8/29
 1           Western Carolina        21     Final
 2  North Carolina State (24)        38       NaN,
           0         1         2
 0  Thu 8/29  Thu 8/29  Thu 8/29
 1    Howard         7     Final
 2   Rutgers        44       NaN,
                   0         1         2
 0          Thu 8/29  Thu 8/29  Thu 8/29
 1  Sacramento State        24     Final
 2    San Jose State        42       NaN,
           0         1         2
 0  Thu 8/29  Thu 8/29  Thu 8/29
 1  Duquesne        10     Final
 2    Toledo        49       NaN,
                         0         1         2
 0                Thu 8/29  Thu 8/29  Thu 8/29
 1  Southeastern Louisiana         0     Final
 2                  Tulane        52       NaN,
                     0         1         2
 0            Thu 8/29  Thu 8/29  Thu 8/29
 1  Northwestern State        28     Final
 2               Tulsa        62       NaN,
                0         1         2
 0       Thu 8/29  Thu 8/29  Thu 8/29
 1  Southern Utah         0     Final
 2      Utah (12)        49       NaN,
                     0         1         2
 0            Thu 8/29  Thu 8/29  Thu 8/29
 1  North Carolina A&T        13     Final
 2         Wake Forest        45       NaN]

In [ ]:
def get_rank_from_row(row):
    pattern2 = r"^(.*?)\s\((\d{1,2})\)$"
    university = row[0]
    match = re.fullmatch(pattern2, university)
    if match:
         return match.group(1), int(match.group(2))
    else:
         return university, None

In [ ]:
get_rank_from_row(all_games_table[5].iloc[2])

('Arizona', '21')

In [ ]:
all_games_table[5]

              0         1         2
0      Sat 8/31  Sat 8/31  Sat 8/31
1    New Mexico        39     Final
2  Arizona (21)        61       NaN

In [ ]:
temp.iloc[0][0]

'Western Kentucky'

In [ ]:
regex2 = r".*\(\b([1-9]|1[0-9]|2[0-5])\b\)"
re.fullmatch(regex2, "Western Kentucky (5)")

In [ ]:
temp = all_games_table[3][1:]
temp.loc[:, "rank"] = None
# temp

/var/folders/z_/5kxjclhd5090czxnlnxslydr0000gn/T/ipykernel_88211/1111760236.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.loc[:, "rank"] = None

regex = "^[A-Za-z]{3} \d{1,2}/\d{2}$"
string = all_games_table[3].iloc[0][0]

s = re.fullmatch(regex, string)

In [ ]:
s

In [ ]:
month = month.lower()

    # URL to scrape, notice f string:
    url = (
        f"https://www.basketball-reference.com/leagues/NBA_%(year)s_games-%(month)s.html"
        % {"year": year, "month": month}
    )
    try:
        html = urlopen(url)
    except Exception as e:
        print(e)
        print(
            "Failure: %(month)s, %(year)s all_games URL not pulled"
            % {"month": month.capitalize(), "year": year}
        )
        return None

    # Kicks you out if you request over 20 times over a minute
    time.sleep(3.5)

    soup = BeautifulSoup(html, features="html.parser")

    # Convert the tables into a string and wrap it with StringIO
    tables = soup.find_all("table", {"id": re.compile("schedule")})
    html_string = "\n".join(str(table) for table in tables)
    html_io = StringIO(html_string)

    all_games_table = pd.read_html(html_io, header=0)[0]
    all_games_table = clean_all_games_table(all_games_table)
    if all_games_table is not None:
        all_games_table["Unique_ID"] = all_games_table.apply(
            generate_unique_game_id, axis=1
        )
    return all_games_table